.cpanel {transition-duration: 0.8s;background-color: #DD4124;border-radius: 60px;color: #565656;float: left;}
.cpanel:hover{background-color: black;}

.cpanel1 {transition-duration: 0.8s;background-color: #556B2F;border-radius: 60px;color: #565656;float: left;}
.cpanel1:hover{background-color: black;}

.cpanel2 {transition-duration: 0.8s;background-color: #20B2AA;border-radius: 60px;color: #565656;float: left;}
.cpanel2:hover{background-color: black;}

.slowlyAppear {
  animation: slowlyAppear 0.5s linear;
}


@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

@keyframes bigerSmaller {
    from，to { transform: none; }
  50% { transform: scale(1.2); }
}

td {
  padding:0 5px 0 5px;
}

.help-tip {
	position: absolute;
  bottom:5px;
  left: 5px;
  z-index:10;
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 22px;
	line-height: 42px;
	cursor: default;
}
.help-tip:before {
	content:'?';
	font-weight: bold;
	color:#fff;
}
.div-inline1{ display:inline;
color: black; font-size: 0.9em;} 

.div-inline2{ display:inline;
color: black; font-size: 0.9em; } 

.div-inline3{ display:inline;
color: black; font-size: 0.9em;} 

.container{width:500px;height:80px;margin-left:50px;padding-top:10px;text-align:center;}
     .center{display:inline-block;}
     .center{_display:inline;} /*针对ie6 hack*/
     .center a{float:left;padding:5px 10px;margin:10px;text-decoration:none;}
     
.currentPlayer {
  color: #20B2AA;  
}

/*.currentPlayerBG {
  background:#FAF0E6;
  transition: background-color 1000ms linear;
}

.notcurrentPlayerBG {
  background: gray;
  transition: background-color 1000ms linear;
}*/